New Animal
<%= form_tag "/animals", method: :post do %>
  <div>Species: <input type="text" name="species"></div>
  <div>Number <input type="text" name="number"></div>
  <input type="submit" name="submit">
<%end%>

